* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1000px;
  height: 1000px;
  display: flex;
}

.wrapper__game {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 500px;
  height: 1000px;
  background-color: grey;
}

.wrapper__table {
  width: 500px;
  height: 1000px;
}

.wrapper__game-cube {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  border: 1px solid grey;
}

.el {
  border: 1px solid red;
}

.index_1 {
  background-color: red;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#field {
  background-color: grey;
  height: 1000px;
  width: 500px;
} */